@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Signika:wght@300&display=swap');

$letraInicio:'Roboto Condensed', sans-serif;
$letraTitulo: 'roboto', sans-serif;
$letraTexto:'Assistant', sans-serif;