@import "colores";
@import "tipografia";
@import "variables";

body{
    background-color: $fondo!important;

}
/*NAVBAR*/
.seccionNav{
    position: sticky!important;
    z-index: 9999!important;
    top:0px;
    background-color: rgb(233, 232, 232);
    font-family: 'roboto';
    font-size: 19px;
    
        .seccionNav_nav{
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100; 
        }

        #navbarTogglerDemo01{
            justify-content: flex-end;
        }
    
        .seccionNav__nav--logo{
            width: 140px;
        }
    
}

/*INICIO*/
.inicio0{
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inicio0__frase{
    color: whitesmoke;
    font-family:$letraTitulo;
    font-weight: 700;
    font-size: 48px;   
}

.inicio0__frase--imagen{
    width: 50px;
}

.inicio2__titulo{
    font-family: $letraInicio;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: solid $rojo;
    margin-top: 30px;
}

.inicio2__texto{
    color: whitesmoke;
    display: flex;
    align-items: center;
    font-family: $letraInicio;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 90px;

}

.inicio2__imagen{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.inicio2__imagen--logo{
    width: 50px;
}

.row--last{
    border-bottom: solid $rojo;
    margin-bottom: 30px;
}

/*Quien Somos*/
.gloria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;

    .gloria__foto{
        animation:fadeInDown;
        animation-duration: 1s;
        text-align: center;

        .gloria__foto--imagen{
            
            border-radius: 200px 200px 0px 200px;
            -moz-border-radius: 200px 200px 0px 200px;
            -webkit-border-radius: 200px 200px 0px 200px;
            border: 0px none #000000;
            width: 280px;
        }
    }
        .gloria__texto--nombre{
            @include texto(center,$letraTitulo,24px, $amarillo);
            margin-bottom: 10px;
        }
        .gloria__texto--parrafo{
            @include texto(justify,$letraTexto,20px, whitesmoke);
        }
}

/*NUESTROS SERVICIOS*/

.nuestrosServicios__subtitulo{
    color: whitesmoke;
    margin: 10px;
    font-family: $letraTexto; 
    font-size: 20px;
    text-align: center;
}

.informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0.9;
    background-color: rgb(66, 66, 66);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  
    .informacion__bloque{
        flex-wrap: wrap;
        justify-content: center;
    }

    .informacion__bloque--titulo{
        @include texto(center,$letraTitulo,24px, $amarillo )
    }

    .informacion__bloque--imagen{
        text-align: center;
        
    }

    .informacion__bloque--imagenOrder{
        text-align: center;
        order: -1;
    }

    .informacion__bloque--texto{
        @include texto(justify,$letraTexto,20px, white )

    }
}

    
   

.informacion:hover {
    opacity: 1;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;

}

/*PROPIEDADES DISPONIBLES*/

.subtitulo{
    color: white;
    margin: 10px;
    font-family: $letraTexto; 
    font-size: 20px;
    text-align: center;
}

.tablaNombre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $amarillo;
    font-size: 24px;
    background-color: rgb(66, 66, 66);
    margin-top: 15px;
    margin-bottom: 15px;
}

.tabla__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tabla__card--arriendo{
    margin-bottom: 20px;
}

/*CONTÁCTANOS*/

#gmail{
    width: 30px;
}

.escribenos{
    color: $colorWeb;
    line-height: 2.2;
    margin-bottom: 10px;
    font-family: $letraTexto;
    font-size: 20px;
}

.formulario{
    color: $colorWeb;
    font-family: $letraTexto;
    font-size: 20px;
}

.boton{
    margin-bottom: 15px;
}

/*footer*/ 
.footerGS{
    margin-top: 5px;
    background-color: $amarillo;
    line-height: 1.7;
    color: black;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.8;
    position: relative;
    z-index: 1;
    font-family: 'roboto'sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;

    .footerGS__contactanos{
        text-align:left;
        padding: 0px;
    }
    
    .footerGS__logo{
        text-align: right;
    }

}
.footerGS__contactanos--nombreEmpresa{
    font-family: 'roboto' sans-serif;
    font-weight: 700;
    font-style: normal;
}

.metodosDeContacto{
    color: black;
}
.telefono{
    width: 10px;
}

.instagram{
   width: 10px;
}

.correoElectronico{
    width: 12px;;
}

@media only screen and (max-width: 900px){
    /*Inicio*/
    .inicio0__frase{
        font-size: 35px;
        padding-bottom: 30px;
    }

    .inicio2__titulo{
        padding: auto;
        margin: auto;
        border-top: solid $rojo; 
    }

    .inicio2__texto{
        color: whitesmoke;
        margin:auto;
        height: auto;
        text-align: justify;
        margin:10px;
    
    }
    
    .inicio2__imagen{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }
    
    .inicio2__imagen--logo{
        width: 50px;
    }

    
.row--last{
    border-bottom: solid $rojo;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

    /*quien somos*/
    .gloria__texto--parrafo{
        margin: 10px;
    }

    /*Nuestros Servicios*/
    .informacion{
        opacity: 1;
        background-color: $fondo;
    }
    .informacion:hover {
        opacity: 1;
    }
    .informacion__bloque--imagen{
        order:-1;

    }
    .informacion__bloque--imagenOrder{

    }

    /*Propiedades Disponibles*/
    .tabla__card{
        display: flex;
        flex-wrap: wrap;
    }

    /*Footer*/
    
    .footerGS{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .footerGS__logo{
            text-align: center;
            padding-bottom: 30px;
           
          }

         .footerGS__contactanos{
            text-align: center;
        
         }
         .footerGS__contactanos--nombreEmpresa{
            padding-bottom: 15px;
         }
    
    
    }
}
